<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/class_02_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
marks=[50,60,70,90,60]

In [2]:
marks[0]="Abhi"
print(marks)

['Abhi', 60, 70, 90, 60]

## List Operations
### Append,Pop , Remove, extend, slicing

In [3]:
marks.append("kaushik")
print(marks)

['Abhi', 60, 70, 90, 60, 'kaushik']

In [4]:
height=[132,143,155,160,4]
height.pop(4)
print(height)

[132, 143, 155, 160]

In [5]:
height.remove(132)
print(height)

[143, 155, 160]

In [6]:
marks.extend(height)
print(marks)

['Abhi', 60, 70, 90, 60, 'kaushik', 143, 155, 160]

In [7]:
name="Abhishek Kasushik"
short=name[0:4]
print(short)

Abhi

In [8]:
short_list=marks[0:4]
print(short_list)

['Abhi', 60, 70, 90]

In [9]:
name="Abhi"
name1=["A","b","h","i"]

slic1=name[0:2]
slic2=name[0:2]
print(type(slic1))
print(type(slic2))

<class 'str'>
<class 'str'>

In [10]:
marks2=[45,54,67,87,54]
print(len(marks))

9

In [11]:
print(sum(marks2))

307

In [12]:
A=()
print(type(A))

<class 'tuple'>

In [13]:
A=("A",)
print(type(A))

<class 'tuple'>

In [14]:
marks=(45,65,76,43)
print(type(marks))

<class 'tuple'>

In [22]:
marks[0]=76

TypeError: ignored

In [ ]:
phone_no={"Rohan":999999999,"Mohan":88888888,"Sohan":56094044}
print(phone_no["Rohan"])

In [ ]:
print(phone_no[999999999])

In [21]:
phone_no={"Rohan":999999999,"Mohan":88888888,"Sohan":56094044}
print(phone_no.items)
for x in phone_no.values():
  print(x)

<built-in method items of dict object at 0x7effc738c0d8>
999999999
88888888
56094044

In [ ]:
print("hello for your search query{} the number is {}".fomat(quey,number))

In [2]:
phone_no={"Obizoba":0806009989,"Joseph":0809999999,"John":9090909090,"Ben":0909099877}
query="Ben"
number=phone_no[query]
print("Hello for your search query {} the number is {}".format(query,number))

SyntaxError: ignored

Boolean Operations

In [ ]:
5>6

In [ ]:
6>5

In [ ]:
results=5+(5<6)
print(results)

Functions

In [ ]:
def avg1():
  A=50
  B=60
  Print=(" The ave of {} and {} is {}".format(A,B, (A+B)/2))

In [ ]:
avg1()

In [ ]:
def avg(A,B):
   Print(" The ave of {} and {} is {}".format(A,B, (A+B)/2))

In [17]:
def name1():
  A="Obizoba"
  B="Iloabachie"
  print("My full name is {}",format(A+B))

In [ ]:
def nickname(obizobailo):
  slicnickname=name[0:5]
print=("nickname")

write a program to calculate the monthly salary and tax. the formal parameter will Annual salary.tax salb is 32000 20% beyond 32000 till 60000 is 40%.