<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [3,6,9,12,15,18,21]
list2 = [4,8,12,16,20,24,28]
#for i in range(3, 21, 3):
  

list1_odd = [list1[1], list1[3], list1[5]]
list2_odd = [list2[0], list2[2], list2[4], list2[6]]
print(f"Elements at odd-index positions from list one \n{list1_odd}")
print(f"Elements at even-index positions from list two \n{list2_odd}")
list1_odd.extend(list2_odd)
print(f"Printing Final third list \n{list1_odd}")
#print(list1_odd)
#print(list2_odd)

Elements at odd-index positions from list one
[6, 12, 18]
Elements at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

##No 2

In [ ]:
mylist = [34,54,67,89,11,43,94]
print(f"Original list {mylist}")
mylist.pop(4)
print(f"List after removing element at index 4 {mylist}")
mylist.insert(2,11)
print(f"List after Adding element at index 2 {mylist}")
mylist.append(11)
print(f"List after Adding element at last {mylist}")

Original list [34, 54, 67, 89, 11, 43, 94]
List after removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

##No 3

In [ ]:
samplelist = [11,45,8,23,14,12,78,45,89]
print(f"Original list {samplelist}")
samplelist[0:3]
print(f"Chunk 1 {samplelist[0:3]}")
mynewlist= samplelist[0:3]
mynewlist.reverse()
print(f"After reversing it {mynewlist}")

print(f"Chunk 2 {samplelist[3:6]}")
mynewlist2= samplelist[3:6]
mynewlist2.reverse()
print(f"After reversing it {mynewlist2}")

print(f"Chunk 3 {samplelist[6:9]}")
mynewlist3= samplelist[6:9]
mynewlist3.reverse()
print(f"After reversing it {mynewlist3}")

Original list [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk 1 [11, 45, 8]
After reversing it [8, 45, 11]
Chunk 2 [23, 14, 12]
After reversing it [12, 14, 23]
Chunk 3 [78, 45, 89]
After reversing it [89, 45, 78]

##No 4

In [ ]:
thislist =[11,45,8,11,23,45,23,45,89]
print(f"Original list {thislist}")
countlist = {
    11 : thislist.count(11),
    45 : thislist.count(45),
    8 : thislist.count(8),
    23 : thislist.count(23),
    89 : thislist.count(89)
}
print(f"Printing count of each item {countlist}")

Original list [11, 45, 8, 11, 23, 45, 23, 45, 89]
Printing count of each item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

##No 5

In [ ]:
num1 = [2,3,4,5,6,7,8]
print(f"First list {num1}")
num2 = [4,9,16,25,36,49,64]
print(f"Second list {num2}")
thisset = [[a, b] for a in num1 for b in num2 if a*a == b]

print(f"Result is {thisset}")

First list [2, 3, 4, 5, 6, 7, 8]
Second list [4, 9, 16, 25, 36, 49, 64]
Result is [[2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64]]

##No 6

In [ ]:
set1 = {65,42,78,83,23,57,29}
print(f"First set {set1}")
set2 = {67,73,43,48,83,57,29}
print(f"Second Set {set2}")

set3 = set1.intersection(set2)
print(f"\nIntersection is {set3}") #backslash n here is used to give a free line before the print

newset = set1.symmetric_difference(set3)
print(f"First set after removing common element {newset}")

First set {65, 42, 78, 83, 23, 57, 29}
Second Set {67, 73, 43, 48, 83, 57, 29}

Intersection is {57, 83, 29}
First set after removing common element {65, 42, 78, 23}

##No 7

In [ ]:
first_set = {27, 43, 34}
print(f"First set {first_set}")
second_set = {34, 93, 22, 27, 43, 53, 48}
print(f"Second set {second_set}")

# here we want to find out if first set is a can be fiund in second set
print(f"\nFirst set is subset of Second set - {first_set.issubset(second_set)}")
#here we want to find out if second set can be found in first set
print(f"Second set is subset of First set - {second_set.issubset(first_set)}")

print(f"\nFirst set is superset of Second set - {first_set.issuperset(second_set)}")
print(f"Second set is superset of First set - {second_set.issuperset(first_set)}")

if first_set.issubset(second_set):
  first_set.clear()
  print(f"\nFirst Set {first_set}")
print(f"Second set {second_set}")

First set {43, 34, 27}
Second set {34, 43, 48, 53, 22, 27, 93}

First set is subset of Second set - True
Second set is subset of First set - False

First set is superset of Second set - False
Second set is superset of First set - True

First Set set()
Second set {34, 43, 48, 53, 22, 27, 93}

##No 8

In [ ]:
rollNumber=[47,64,69,37,76,83,95,97]
sampleDict={'jhon':47, 'emma':69, "kelly" :76, "jason": 97}
print(rollNumber)
print(sampleDict)
for ro in rollNumber:
    for sd in sampleDict:
        if sampleDict[sd] == ro:
            print(ro)
            rollNumber.remove(ro)
print(f"The list after removal is: {rollNumber}")

[47, 64, 69, 37, 76, 83, 95, 97]
{'jhon': 47, 'emma': 69, 'kelly': 76, 'jason': 97}
47
69
76
97
The list after removal is: [64, 37, 83, 95]