<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/datahandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def customer_name():
  customer_name = input("what is your name Please?"{})

SyntaxError: ignored

In [ ]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 5.8MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=8c10498c5f1cd122b3a1e140ac85d70ca7e0774348f9b2c8818df422d1f02764
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=df312c8fe9c275e23c229b577e9af40019e586a6458723f62f2f773c23001bfe
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=0d22c50dead584c8d450421e193c73be46da9b22aaf6949dbf29c06f4633f8ce
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [72]:
import pandas as pd
import sqlite3
from datetime import date

In [ ]:
#connecting with the database.
db = sqlite3.connect("Abhi_testing.db")
db.execute("drop table if exists results")
try:
  db.execute("create table results(Name text, Mobile text,Mail text)")
except:
  print("Already table existed !!")

In [ ]:
db = sqlite3.connect("Abhi_testing.db")

In [22]:

#Date = date.today().strftime("%d-%m-%Y")
Name1 = "Abhi"
Mobile1 = "9000011101"
Mail1 = "AbhiteachineMachine1@you.com"

cmd = "insert into results(Name, Mobile ,Mail ) values('{}','{}','{}')".format(Name1,Mobile1,Mail1)
db.execute(cmd)
db.commit()

In [23]:
Name1

'Abhi'

In [27]:
Mail1

'AbhiteachineMachine1@you.com'

In [26]:
Mobile1

'9000011101'

In [28]:

db = sqlite3.connect("Abhi_testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
    print (row)

('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')

In [43]:
db = sqlite3.connect("Banking_system")
db.execute("drop table if exists results")
try:
  db.execute("create table results(Name , Account,Account )")
except:
  print("Already table existed !!")

Already table existed !!

In [30]:
db = sqlite3.connect("Banking_system")

In [52]:
#Date = date.today().strftime("%d-%m-%Y")
Name = ["obizoba" ,"john","Amaka","Mumu","ify"]
Account_number = ["9000011101","34343434","90090090","7456656457"]
Account_Balance = ["AbhiteachineMachine1@you.com","AbhiteachineMachine1@you.com","obizoba@gmail.com"]

In [53]:

cmd = "insert into results(Name, Account,Account) values('{}','{}','{}')".format(Name,Account_number,Account_Balance)
db.execute(cmd)
db.commit()

OperationalError: ignored

In [55]:
Name

['obizoba', 'john', 'Amaka', 'Mumu', 'ify']

In [56]:
Account_number

['9000011101', '34343434', '90090090', '7456656457']

In [57]:
Account_Balance

['AbhiteachineMachine1@you.com',
 'AbhiteachineMachine1@you.com',
 'obizoba@gmail.com']

In [ ]:
db = sqlite3.connect("Abhi_testing.db")
qry = """

SELECT * FROM results

"""
df = pd.read_sql_query(qry, db)
df.head()

In [58]:
def pushtoDB(Name,Mobile,Mail):
#inserting values inside the created table
    db = sqlite3.connect("testing.db")    
    cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
    db.execute(cmd)
    db.commit()

In [62]:
data = pd.read_csv("dummy.csv")
data.head()
data.shape

(1128, 3)

In [81]:
db = sqlite3.connect("Banking_system")
db.execute("drop table if exists results")
try:
  db.execute("create table results(Name , Account,Account )")
except:
  print("Already table existed !!")

Already table existed !!

In [76]:
db = sqlite3.connect("Banking_system")

In [80]:
#Date = date.today().strftime("%d-%m-%Y")
Name = ["obizoba" ,"john","Amaka","Mumu","ify"]
Account_number = ["9000011101","34343434","90090090","7456656457"]
Account_Balance = ["AbhiteachineMachine1@you.com","AbhiteachineMachine1@you.com","obizoba@gmail.com"]