<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/Exercise_%E2%80%93_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

car = pd.read_csv("Motors.csv")
#print(car)
print(car.tail(5))

    index     company body-style  ...  horsepower  average-mileage    price
56     81  volkswagen      sedan  ...          85               27   7975.0
57     82  volkswagen      sedan  ...          52               37   7995.0
58     86  volkswagen      sedan  ...         100               26   9995.0
59     87       volvo      sedan  ...         114               23  12940.0
60     88       volvo      wagon  ...         114               23  13415.0

[5 rows x 10 columns]

In [6]:
car = pd.read_csv("Motors.csv",na_values={"price":["?","n.a"],"stroke":["?","n.a"],"horsepower":["?","n.a"],"peak-rpm":["?","n.a"],"average-mileage":["?","n.a"]})
print(car)

    index      company   body-style  ...  horsepower  average-mileage    price
0       0  alfa-romero  convertible  ...         111               21  13495.0
1       1  alfa-romero  convertible  ...         111               21  16500.0
2       2  alfa-romero    hatchback  ...         154               19  16500.0
3       3         audi        sedan  ...         102               24  13950.0
4       4         audi        sedan  ...         115               18  17450.0
..    ...          ...          ...  ...         ...              ...      ...
56     81   volkswagen        sedan  ...          85               27   7975.0
57     82   volkswagen        sedan  ...          52               37   7995.0
58     86   volkswagen        sedan  ...         100               26   9995.0
59     87        volvo        sedan  ...         114               23  12940.0
60     88        volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

In [7]:
car = car[["company" , "price"]][car.price == car["price"].max()]
print(car)

          company    price
35  mercedes-benz  45400.0