<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/OBIZOBA_10555563_REVISON_3_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#To create a function that can accept two agruments name and age print them.

In [3]:


name = input(f"please enter your name: ".upper())#user is expect to input a name.
age= int(input(f"please enter your age: "))#user is expected to input a numeric value for age.

def person():
    print(f"Your name is {name.upper()} and you are {age}.")


person()#calling fuction with arugments name and age.

PLEASE ENTER YOUR NAME: obizoba
please enter your age: 32
Your name is OBIZOBA and you are 32.

##WAF func1() such that it can accept a variable length of arguments and print

In [4]:
def func1(*numbers):#defining function for numbers
    for number in numbers:#using number to loop through numbers 
        print(number)


func1(30,89,89,89)#function calling expected arguments
func1(10,20,30,40)

30
89
89
89
10
20
30
40

##WAF calculation() such that it can accept two variables and calculate the addition and subtraction of it and it must return both addition and subtraction in a single return call.

In [6]:
def calculation():#defining fucnction on calculation.
    a = float(input(f"Enter a: "))#user is expected to input value for parameter "a".
    b = float(input(f"Enter b: "))#user is expected to input value for parameter "b".
    addition = a + b #variables a and b performing addition operation.
    subtraction = a - b #variables a and b performing subtraction operation.
    print(f"the calculation of a and b is {addition} and {subtraction}. ")#displaying both operations


calculation()#function call

Enter a: 23.8
Enter b: 30.9
the calculation of a and b is 54.7 and -7.099999999999998.

##Create a function showEmployee() in such a way that it should accept employee name and its salary and display both,and if the salary is missing in function call it should show it as 9000.

In [8]:
def showEmployee(employee_name,salary="9000"):#defining function with a default parameter salary=9000.
    print(f"The employee name is {employee_name} and the salary is £{salary}.")#displaying but parameters


showEmployee("obizoba", "1000")#calling function with both arguments
showEmployee("nayo")#missing one argument,hence default value will be substituted.
showEmployee("john","3000")
showEmployee("chika", "3000")
showEmployee("Amaka")#missing one argument,hence default value will be substituted)

The employee name is obizoba and the salary is £1000.
The employee name is nayo and the salary is £9000.
The employee name is john and the salary is £3000.
The employee name is chika and the salary is £3000.
The employee name is Amaka and the salary is £9000.

###Create an inner function to calculate the addition in the following way:
#Create an outer function that will accept two parameters a and b
#Create an inner function inside an outer function that will calculate the addition of a and b.
#at last, an outer function will add 5 into addition and return it.

In [9]:
def outer_function(a,b):#defining outter function for both parameters 
  def inner_function():#defining inner fucntion to compute addition operation
    addition = a + b
    return addition

  return inner_function()+5#returning operation while adding 5 

print(f"Result is: {outer_function(100,50)}")

Result is: 155

#Write a recursive function to calculate the sum of numbers from 0 to 10.

In [10]:
def recursive_addition(r):
    if r <= 0:
        return r
    else:
        return r + recursive_addition(r - 1)



recursive_addition(10)

55

#Assign a different name to function and call it through the new name.

In [11]:
def old_name(first_name, last_name):#first function with two parameters.
    print(f"This person's first name is {first_name} and last name is {last_name}. ")

def new_name(first_name,last_name):#new function with same pararmeters but differnt function name
    old_name(first_name, last_name)

new_name("obizoba","iloabachie")#calling agurments with new function

This person's first name is obizoba and last name is iloabachie.