<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/Training_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
x = int(input("x: "))
z = float(input("z: "))
y = x + 20 + z
print (f"The value of y is {y}")
print (f"x:{x}, y:{y}, z:{z}")

x: 45
z: 20.98998989898
The value of y is 85.98998989898
x:45, y:85.98998989898, z:20.98998989898

In [30]:
"bag" > "apple"

True

In [50]:
temperature = int(input("Temperature: "))
if temperature >= 30:
  print(f"Its hot")
  print(f"Drink enough water")
elif temperature >= 20:
  print(f"its cold alittle, cover up NOW!!")
else:
  print(f"its  really cold, i need a heater")
print(f"done")

Temperature: 2
its  really cold, i need a heater
done

In [57]:
age = 17
if age >= 18:
  message = "Eligible"
else:
  message = "Not Eligible"
print(message)

Not Eligible

In [59]:
age = 12
message = "Eligible" if age >= 18 else "Not Eligible"
print(message)

Not Eligible

In [79]:
high_income = False
good_credit = True
student = False

if high_income and good_credit and not student:
  print("Eligible")
else:
  print("Not Eligible")

Not Eligible

In [73]:
if not student:
  print("Eligible")
else:
  print("Not Eligible")

Eligible

In [80]:
# age should be between 18 and 65
age = 22
if 18 <= age < 65:
  print ("Eliglible")

Eliglible

In [81]:
if 10 =="10":
  print("a")
elif "bag" > "apple" and "bag" > "cat":
  print("b")
else:
  print("c")

c

In [83]:
ord("b")

98

In [97]:
for number in range(1, 10, 2):
  print("Attempt", number , number * ".")

Attempt 1 .
Attempt 3 ...
Attempt 5 .....
Attempt 7 .......
Attempt 9 .........

In [103]:
successful = True
for number in range(3):
  print("Attempt")
  if successful:
    print("successful")
    break
else:
  print(f"Attempted 3 times and failed")

Attempt
successful

In [105]:
for x in range (5):
  for y in range (3):
    print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [108]:
for x in [1, 2, 3, 4, 5]:
  print (x)

1
2
3
4
5