<a href="https://colab.research.google.com/github/obizoba/BIZI/blob/master/Training_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input("x: "))
z = float(input("z: "))
y = x + 20 + z
print (f"The value of y is {y}")
print (f"x:{x}, y:{y}, z:{z}")

x: 45
z: 20.98998989898
The value of y is 85.98998989898
x:45, y:85.98998989898, z:20.98998989898

In [ ]:
"bag" > "apple"

True

In [ ]:
temperature = int(input("Temperature: "))
if temperature >= 30:
  print(f"Its hot")
  print(f"Drink enough water")
elif temperature >= 20:
  print(f"its cold alittle, cover up NOW!!")
else:
  print(f"its  really cold, i need a heater")
print(f"done")

Temperature: 2
its  really cold, i need a heater
done

In [ ]:
age = 17
if age >= 18:
  message = "Eligible"
else:
  message = "Not Eligible"
print(message)

Not Eligible

In [ ]:
age = 12
message = "Eligible" if age >= 18 else "Not Eligible"
print(message)

Not Eligible

In [ ]:
high_income = False
good_credit = True
student = False

if high_income and good_credit and not student:
  print("Eligible")
else:
  print("Not Eligible")

Not Eligible

In [ ]:
if not student:
  print("Eligible")
else:
  print("Not Eligible")

Eligible

In [ ]:
# age should be between 18 and 65
age = 22
if 18 <= age < 65:
  print ("Eliglible")

Eliglible

In [ ]:
if 10 =="10":
  print("a")
elif "bag" > "apple" and "bag" > "cat":
  print("b")
else:
  print("c")

c

In [ ]:
ord("b")

98

In [ ]:
for number in range(1, 10, 2):
  print("Attempt", number , number * ".")

Attempt 1 .
Attempt 3 ...
Attempt 5 .....
Attempt 7 .......
Attempt 9 .........

In [ ]:
successful = True
for number in range(3):
  print("Attempt")
  if successful:
    print("successful")
    break
else:
  print(f"Attempted 3 times and failed")

Attempt
successful

In [ ]:
for x in range (5):
  for y in range (3):
    print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [ ]:
for x in [1, 2, 3, 4, 5]:
  print (x)

1
2
3
4
5

In [3]:
number = 100
while number > 0:
  print(number)
  number //= 2

100
50
25
12
6
3
1

In [9]:
command = ""
while command.lower() != "quit":
  command = input(">")
  print("ECHO", command)

>Quit
ECHO Quit

In [13]:
while True:
  command = input(">")
  print("ECHO", command)
  if command.lower() == "quit":
    break

>hello
ECHO hello
>quit
ECHO quit

In [38]:
 for even_number in range(1, 10):
   if even_number % 2 == 0:
     while True:
       print(f"{even_number}")
       break
print(f"we have 4 even numbers")



     #print(f"{x}, we have 4 even numbers")

2
4
6
8
we have 4 even numbers

In [39]:
count = 0
for number in range(1, 10):
  if number % 2 == 0:
    count +=1
    print(number)
print(f"We have {count} even numbers")

2
4
6
8
We have 4 even numbers

In [42]:
def greet():
  print("Hi there")
  print("Welcome aboard")

  
greet()

Hi there
Welcome aboard

In [46]:
def greet(first_name, last_name):#first_name, last_name are parameters for the functions(INPUTS)
  print(f"Hi {first_name} {last_name}")
  print("Welcome aboard")

  
greet("Obizoba","Iloabachie")#Arguments(actual value of the parameter)
greet("John", "Smith")

Hi Obizoba Iloabachie
Welcome aboard
Hi John Smith
Welcome aboard

In [51]:
def get_greeting(name):
  return f"Hi {name}"

get_greeting("Obizoba")

'Hi Obizoba'

In [53]:
def multiply(*numbers):
  total = 1 
  for number in numbers:
    total *= number
  return total


print(multiply(2, 3, 4, 5))

120